# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives :**


* To be familir with programming languies in DS
* To be familir with programming tools  in DS
* To list Some development environments in DS

Some languagies for DS are liste below :

1. Python 
2. Java 
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplot
3. Spark

Data Science Tools:

| DS Tools  |
| -------------| 
| Anaconda  | 
| Hadoop  | 
| MYSQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5   # This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60 # This will convert mins to seconds

3.3333333333333335

## Author :
Mohammed

* Python 
* Java 
* R